.main-cocktail-detail-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.cocktail-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 90%;
  height: auto;
  margin-top: 1rem;
}

.cocktail-detail__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.cocktail-detail__information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--primary-color);
  padding: 1rem;
}

.cocktail-detail__name {
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 500;
}

.cocktail-detail__glass-name,
.cocktail-detail__alcoholic,
.cocktail-detail__ingredients {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white-color);
}

.cocktail-detail__label {
  font-size: 2rem;
  border-bottom: 0.2rem solid var(--white-color);
}

.cocktail-detail__list-ingredients {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  list-style: none;
  width: 100%;
  height: auto;
}

.cocktail-detail__link-go-home {
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 1s, outline 1s, color 1s;
}

.cocktail-detail__link-go-home:hover {
  background-color: var(--white-color);
  outline: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  transition: background-color 1s, outline 1s, color 1s;
}

@media only screen and (min-width: 1024px) {
  .cocktail-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 7rem);
    column-gap: 1rem;
    margin: 0;
  }

  .cocktail-detail__img {
    height: 60rem;
    align-self: flex-end;
  }

  .cocktail-detail__information {
    justify-content: space-evenly;
    height: 25rem;
    width: 50rem;
    justify-self: flex-start;
    align-self: flex-end;
  }

  .cocktail-detail__link-go-home {
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 15rem;
    grid-column: 1/3;
  }
}
