.cocktail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  box-shadow: rgba(var(--black-color), 0.25) 0 0.4rem 0.8rem -0.2rem,
    rgba(var(--black-color), 0.08) 0 0 0 0.1rem;
}

.cocktail img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.cocktail__information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  padding: 0.5rem;
  width: 100%;
  height: 25rem;
  background-color: var(--primary-color);
}

.cocktail__information h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--white-color);
}

.cocktail__information p {
  font-weight: 600;
  color: var(--white-color);
  font-size: 2rem;
}

.cocktail__information a {
  padding: 0.5rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
  align-self: center;
  cursor: pointer;
  font-weight: 900;
  transition: background-color 1s, outline 1s, color 1s;
}

.cocktail__information a:hover {
  background-color: var(--primary-color);
  outline: 0.2rem solid var(--white-color);
  color: var(--white-color);
  transition: background-color 1s, outline 1s, color 1s;
}
