.error__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 90%;
  height: 50rem;
}

.error__wrapper h1 {
  font-size: 5rem;
  text-align: center;
}

.error__wrapper a {
  background-color: var(--primary-color);
  padding: 1rem;
  font-size: 2rem;
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 1s, outline 1s, color 1s;
}

.error__wrapper a:hover {
  background-color: var(--white-color);
  outline: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  transition: background-color 1s, outline 1s, color 1s;
}

.error__wrapper img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
}
