.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 7rem;
  background-color: var(--primary-color);
  position: fixed;
  box-shadow: rgba(var(--black-int-color), 0.1) 0 2rem 2.5rem -0.5rem,
    rgba(var(--black-int-color), 0.04) 0 1rem 1rem -0.5rem;
  top: 0;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: 7rem;
  padding: 1rem;
}

.header__logo h2 {
  font-size: 2rem;
  color: var(--white-color);
}

.bars {
  font-size: 2rem;
  color: var(--white-color);
  transition: transform 1s;
}

.rotate__bars {
  transform: rotate(-90deg);
  transition: transform 1s;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-color);
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.header__nav--open {
  max-height: 100rem;
  transition: max-height 1s;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 1rem;
  list-style: none;
}

.header__list li {
  margin: 1rem 0 1rem 0;
  position: relative;
}

.header__list-item {
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
}

.header__list-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background-color: var(--white-color);
  transform: scale(0, 1);
  transition: transform 1s;
}

.active::after {
  transform: scale(1, 1);
  transition: transform 1s;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .header__wrapper {
    justify-content: space-between;
  }

  .header__logo {
    justify-content: center;
    width: 25rem;
  }
  .bars {
    display: none;
  }

  .header__nav {
    width: 40rem;
    max-height: 100rem;
  }

  .header__list {
    flex-flow: row wrap;
    height: 7rem;
  }

  .header__list li {
    margin: 0;
  }

  .header__list li a {
    font-size: 2rem;
  }
}
