.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 7rem;
  background-color: var(--color-primary);
  position: fixed;
  box-shadow:
    rgba(var(--color-black-rgb), 0.1) 0 2rem 2.5rem -0.5rem,
    rgba(var(--color-black-rgb), 0.04) 0 1rem 1rem -0.5rem;
  top: 0;
}

.header-wrapper__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: 7rem;
  padding: 1rem;
}

.header-wrapper__title {
  font-size: 2rem;
  color: var(--color-white);
}

.header-wrapper__btn-manage {
  background: none;
  border: none;
  cursor: pointer;
}

.header-wrapper__btn-manage-icon {
  font-size: 2rem;
  color: var(--color-white);
  transition: transform 1s;
}

.header-wrapper__btn-manage-icon--rotate-bars {
  transform: rotate(-90deg);
  transition: transform 1s;
}

.header-wrapper__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-primary);
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.header-wrapper__nav--open {
  max-height: 100rem;
  transition: max-height 1s;
}

.header-wrapper__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 1rem;
  list-style: none;
}

.header-wrapper__list-item {
  margin: 1rem 0 1rem 0;
  position: relative;
}

.header-wrapper__nav-link {
  font-size: 1.5rem;
  color: var(--color-white);
  text-decoration: none;
}

.header-wrapper__nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background-color: var(--color-white);
  transform: scale(0, 1);
  transition: transform 1s;
}

.header-wrapper__nav-link--active::after {
  transform: scale(1, 1);
  transition: transform 1s;
}

@media only screen and (min-width: 1024px) {
  .header-wrapper {
    justify-content: space-between;
  }

  .header-wrapper__content {
    justify-content: center;
    width: 25rem;
  }

  .header-wrapper__btn-manage-icon {
    display: none;
  }

  .header-wrapper__nav {
    width: 40rem;
    max-height: 100rem;
  }

  .header-wrapper__list {
    flex-flow: row wrap;
    height: 7rem;
  }

  .header-wrapper__list-item {
    margin: 0;
  }

  .header-wrapper__nav-link {
    font-size: 2rem;
  }
}
