.cocktail-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pad: 1rem;
}

.cocktail-loader__root {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
}

.cocktail-loader__bar {
  display: inline-block;
  position: absolute;
  left: 0.8rem;
  width: 1.6rem;
  background: var(--primary-color);
  animation: loaderAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.cocktail-loader__bar:nth-child(1) {
  left: 0.8rem;
  animation-delay: -0.24s;
}

.cocktail-loader__bar:nth-child(2) {
  left: 3.2rem;
  animation-delay: -0.12s;
}

.cocktail-loader__bar:nth-child(3) {
  left: 5.6rem;
  animation-delay: 0;
}

@keyframes loaderAnimation {
  0% {
    top: 0.8rem;
    height: 6.4rem;
  }
  50%,
  100% {
    top: 2.4rem;
    height: 3.2rem;
  }
}
