.main-error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding-bottom: 0.625rem;
  padding-top: 4.375rem;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 90%;
  height: 31.25rem;
}

.error__title {
  font-size: 3.125rem;
  text-align: center;
}

.error__link-go-home {
  background-color: var(--color-primary);
  padding: 0.625rem;
  font-size: 1.25rem;
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 1s,
    outline 1s,
    color 1s;
}

.error__link-go-home:hover {
  background-color: var(--color-white);
  outline: 0.125rem solid var(--color-primary);
  color: var(--color-primary);
  transition:
    background-color 1s,
    outline 1s,
    color 1s;
}

.error__img {
  height: 15.625rem;
  width: 15.625rem;
  object-fit: cover;
}
