.cocktail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  box-shadow:
    rgba(var(--color-black), 0.25) 0 0.4rem 0.8rem -0.2rem,
    rgba(var(--color-black), 0.08) 0 0 0 0.1rem;
}

.cocktail__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.cocktail__information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  padding: 0.5rem;
  width: 100%;
  height: 25rem;
  background-color: var(--color-primary);
}

.cocktail__name {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-white);
}

.cocktail__glass-name,
.cocktail__alcoholic {
  font-weight: 600;
  color: var(--color-white);
  font-size: 2rem;
}

.cocktail__details {
  padding: 0.5rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  text-decoration: none;
  font-size: 2rem;
  align-self: center;
  cursor: pointer;
  font-weight: 900;
  transition:
    background-color 1s,
    outline 1s,
    color 1s;
}

.cocktail__details:hover {
  background-color: var(--color-primary);
  outline: 0.2rem solid var(--color-white);
  color: var(--color-white);
  transition:
    background-color 1s,
    outline 1s,
    color 1s;
}
